<a href="https://colab.research.google.com/github/joannediaz04/Advanced-Data-visualization-Finals_01/blob/main/Advanced_Data_Visualization_Finals_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myName = "JOANNE" 
for x in myName: 
  print(x)

J
O
A
N
N
E

In [ ]:
for x in range(6):
 print(x)
else:
 print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
thislist = ["Top", "bottom", "victory"]
for x in thislist:
 print(x)

Top
bottom
victory

In [ ]:
list(range(0,10))
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
dataAnalyticsTools = ['Python', 'R', 'SQL', 'Git'] 
for i in range(len(dataAnalyticsTools)): 
 print(dataAnalyticsTools [ i ])

Python
R
SQL
Git